<suite name="Regession">
<listeners>
<listener class-name="regression.ListenerClass" />
</listeners>
<test name="Sanity">
<classes>
  <class name="regression.RegressionTesting">
   <methods>
    <include name="handleframes" />
    <include name="registration" />
   </methods>
  </class>
 </classes>
</test>
</suite>